<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<div class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="header">学院导航栏</li>
            <li><a href="javascript:void(0)"><i class="fa fa-link"></i> <span>教师信息管理</span></a></li>
            <li><a href="javascript:void(0)"><i class="fa fa-link"></i> <span>个人信息管理</span></a></li>
            <li class="treeview" id="examinationMenu">
                <a href="#"><i class="fa fa-link"></i>
                    <span>考试管理</span>
                    <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="javascript:void(0)" id="createExamination"><i class="fa fa-circle-o"></i>提交考试申请</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" id="deleteExamination"><i
                                class="fa fa-circle-o"></i>删除考试申请</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" id="updateExamination"><i
                                class="fa fa-circle-o"></i>更新考试申请</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" id="queryExamination"><i
                                class="fa fa-circle-o"></i>查询考试申请</a>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</div>
</body>
</html>