<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<div class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="header">学院导航栏</li>
            <li id="firstLi"><a href="/administrator/administratorTeacherManage"><i class="fa fa-link"></i>
                <span>教师信息管理</span></a>
            </li>
            <li id="secondLi"><a href="/administrator/administratorSelfInfo"><i class="fa fa-link"></i>
                <span>个人信息管理</span></a></li>
            <li id="thirdLi"><a href="/administrator/administratorTestManage"><i class="fa fa-link"></i>
                <span>考试请求管理</span></a></li>
            <li id="fourthLi"><a href="/administrator/itemBankManage"><i class="fa fa-link"></i>
                <span>试题库管理</span></a></li>
        </ul>
    </section>
</div>
</body>
</html>