<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<div class="main-header">
    <a href="javascript:void(0)" class="logo">
        <span class="logo-mini"><b>TEST</b></span>
        <span class="logo-lg"><b>在线考试系统</b></span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"></a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown user user-menu">
                    <a href="/login/loginOut">
                        <span class="hidden-xs user_name">账号登出</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>