<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<div class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="header">学院导航栏</li>
            <li id="firstLi"><a href="/superAdministrator/administratorManage"><i class="fa fa-link"></i>
                <span>管理员信息管理</span></a>
            </li>
            <li id="secondLi"><a href="/superAdministrator/superAdministratorSelfInfo"><i class="fa fa-link"></i>
                <span>个人信息管理</span></a></li>
        </ul>
    </section>
</div>
</body>
</html>