<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<div class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="header">教师导航栏</li>
            <li id="firstLi"><a href="/teacher/teacherStudentManage"><i class="fa fa-link"></i> <span>学生信息管理</span></a>
            </li>
            <li id="secondLi"><a href="/teacher/teacherSelfInfo"><i class="fa fa-link"></i> <span>个人信息管理</span></a></li>
            <li id="thirdLi"><a href="/teacher/examinationInfo"><i class="fa fa-link"></i> <span>考试申请管理</span></a></li>
        </ul>
    </section>
</div>
</body>
</html>