<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vvicey.login.dao.LoginMapper">
    <resultMap id="BaseResultMap" type="com.vvicey.login.entity.Loginer">
        <id column="uid" property="uid" jdbcType="INTEGER"/>
        <result column="uname" property="uname" jdbcType="VARCHAR"/>
        <result column="upassword" property="upassword" jdbcType="VARCHAR"/>
        <result column="uclass" property="uclass" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    uid, uname, upassword, uclass
  </sql>
    <select id="selectByName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from login
        where uname = #{uname,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByName" parameterType="java.lang.String">
    delete from login
    where uname = #{uname,jdbcType=VARCHAR}
  </delete>
    <insert id="insertSelective" parameterType="com.vvicey.login.entity.Loginer">
        insert into login
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                uid,
            </if>
            <if test="uname != null">
                uname,
            </if>
            <if test="upassword != null">
                upassword,
            </if>
            <if test="uclass != null">
                uclass,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                #{uid,jdbcType=INTEGER},
            </if>
            <if test="uname != null">
                #{uname,jdbcType=VARCHAR},
            </if>
            <if test="upassword != null">
                #{upassword,jdbcType=VARCHAR},
            </if>
            <if test="uclass != null">
                #{uclass,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByNameSelective" parameterType="com.vvicey.login.entity.Loginer">
        update login
        <set>
            <if test="uname != null">
                uname = #{uname,jdbcType=VARCHAR},
            </if>
            <if test="upassword != null">
                upassword = #{upassword,jdbcType=VARCHAR},
            </if>
            <if test="uclass != null">
                uclass = #{uclass,jdbcType=INTEGER},
            </if>
        </set>
        where uname = #{uname,jdbcType=VARCHAR}
    </update>
</mapper>