<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vvicey.login.dao.LoginMapper">
    <resultMap id="BaseResultMap" type="com.vvicey.login.entity.Loginer">
        <id column="uid" property="uid" jdbcType="INTEGER"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <collection property="roleList" resultMap="RoleResultMap"/>
    </resultMap>
    <resultMap id="RoleResultMap" type="com.vvicey.permission.entity.Role">
        <id column="rid" property="rid" jdbcType="INTEGER"/>
        <result column="role" property="role" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <collection property="permissionList" resultMap="PermissionResultMap"/>
    </resultMap>
    <resultMap id="PermissionResultMap" type="com.vvicey.permission.entity.Permission">
        <id column="pid" property="pid" jdbcType="INTEGER"/>
        <result column="permission" property="permission" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Permission_Column_List">
      p.pid, permission, p.description pd
    </sql>
    <sql id="Role_Column_List">
      r.rid, role, r.description rd
    </sql>
    <sql id="Base_Column_List">
      l.uid, username, password
    </sql>
    <select id="selectByUsername" resultMap="BaseResultMap" parameterType="java.lang.String">
        select distinct
        <include refid="Base_Column_List"/>,
        <include refid="Role_Column_List"/>,
        <include refid="Permission_Column_List"/>
        from login l
        left join role_login rl on rl.uid = l.uid
        left join role r on rl.rid = r.rid
        left join role_permission rp on rp.rid = r.rid
        left join permission p on p.pid = rp.pid
        where username = #{username,jdbcType=VARCHAR}
    </select>
    <insert id="insertSelective" parameterType="com.vvicey.login.entity.Loginer">
        insert into login
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                uid,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                #{uid,jdbcType=INTEGER},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByUidSelective" parameterType="com.vvicey.login.entity.Loginer">
        update login
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
        </set>
        where uid = #{uid,jdbcType=VARCHAR}
    </update>
</mapper>