<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>在线考试系统</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <script src="/static/script/jquery-3.3.1.min.js"></script>
    <script src="/static/script/loadHeadAndFoot.js"></script>
    <link rel="shortcut icon" href="/static/images/favicon.png"/>
    <link rel="bookmark" href="/static/images/favicon.png" type="image/x-icon"/>
    <script>
        $(function () {
            //创建教师账号信息
            $("#addTeacher").on("click", function () {
                $.ajax({
                    type: "POST",
                    url: "/administrator/addTeacher",
                    contentType: 'application/json',
                    data: JSON.stringify({
                        //教师登陆信息
                        loginer: {
                            name: "teacherT",
                            password: "test"
                        },
                        //教师个人信息
                        teacher: {
                            name: "bb",
                            teacherNumber: 10086,
                            major: 1,
                            institute: 1,
                            phone: 110
                        }
                    }),
                    success: function (data) {
                        data = JSON.parse(data);
                        console.log(data)
                    }
                });
            });

            //删除教师账号信息
            $("#deleteTeacher").on("click", function () {
                $.ajax({
                    type: "DELETE",
                    url: "/administrator/deleteTeacher",
                    contentType: 'application/json',
                    data: JSON.stringify({
                        //需要删除的教师编号
                        teacherNumber: 10086
                    }),
                    success: function (data) {
                        data = JSON.parse(data);
                        console.log(data)
                    }
                });
            });

            //更新教师登陆信息
            $("#updateTeacherLoginer").on("click", function () {
                $.ajax({
                    type: "PUT",
                    url: "/administrator/updateTeacherLoginer",
                    contentType: 'application/json',
                    data: JSON.stringify({
                        //数据仅包含密码
                        teacherNumber: 10086,
                        loginer: {
                            name: "teacherGai",
                            password: "test"
                        }
                    }),
                    success: function (data) {
                        data = JSON.parse(data);
                        console.log(data)
                    }
                });
            });

            //更新教师个人信息
            $("#updateTeacherInfo").on("click", function () {
                $.ajax({
                    type: "PUT",
                    url: "/administrator/updateTeacherInfo",
                    contentType: 'application/json',
                    data: JSON.stringify({
                        //数据包含教师姓名，编号，专业，学院，电话号码
                        teacherNumber: 10086,
                        teacher: {
                            name: "cc",
                            teacherNumber: 10086,
                            major: 2,
                            institute: 2,
                            phone: 2
                        }
                    }),
                    success: function (data) {
                        data = JSON.parse(data);
                        console.log(data)
                    }
                });
            });

            //更新管理员个人登陆密码
            $("#updateAdministratorSelfLoginer").on("click", function () {
                $.ajax({
                    type: "PUT",
                    url: "/administrator/updateAdministratorSelfLoginer",
                    contentType: 'application/json',
                    data: JSON.stringify({
                        //数据仅包含密码
                        password: "123"
                    }),
                    success: function (data) {
                        data = JSON.parse(data);
                        console.log(data)
                    }
                });
            });

            //更新管理员个人信息
            $("#updateAdministratorSelfInfo").on("click", function () {
                $.ajax({
                    type: "PUT",
                    url: "/administrator/updateAdministratorSelfInfo",
                    contentType: 'application/json',
                    data: JSON.stringify({
                        //数据包含管理员，学院，电话号码
                        institute: 3,
                        phone: 3,
                    }),
                    success: function (data) {
                        data = JSON.parse(data);
                        console.log(data)
                    }
                });
            });

            //查询教师登陆信息
            $("#queryTeacherLoginer").on("click", function () {
                var name = "teacher";
                $.ajax({
                    type: "GET",
                    url: "/administrator/queryTeacherLoginer/" + name,
                    success: function (data) {
                        if (data === "") {
                            console.log("403");
                        } else {
                            data = JSON.parse(data);
                            console.log(data)
                        }
                    }
                });
            });

            //查询教师个人信息
            $("#queryTeacherInfo").on("click", function () {
                var teacherNumber = "10086";
                $.ajax({
                    type: "GET",
                    url: "/administrator/queryTeacherInfo/" + teacherNumber,
                    success: function (data) {
                        if (data === "") {
                            console.log("403");
                        } else {
                            data = JSON.parse(data);
                            console.log(data)
                        }
                    }
                });
            });

            //查询管理员自己登陆信息
            $("#queryAdministratorSelfLoginer").on("click", function () {
                $.ajax({
                    type: "GET",
                    url: "/administrator/queryAdministratorSelfLoginer",
                    success: function (data) {
                        data = JSON.parse(data);
                        console.log(data)
                    }
                });
            });

            //查询管理员自己个人信息
            $("#queryAdministratorSelfInfo").on("click", function () {
                $.ajax({
                    type: "GET",
                    url: "/administrator/queryAdministratorSelfInfo",
                    success: function (data) {
                        data = JSON.parse(data);
                        console.log(data)
                    }
                });
            });

            //对教师考试申请进行审批
            $("#approvalExamination").on("click", function () {
                var status = 1;
                if (status == 1) {
                    $.ajax({
                        //通过便提交审批状态和ExaminationExternal数据
                        type: "POST",
                        url: "/administrator/approvalExamination",
                        contentType: 'application/json',
                        data: JSON.stringify({
                            //试卷id号及审批状态信息，考试开始时间，考试地点，监考老师编号，归属的学院
                            eiid: 5,
                            taskId: 14,
                            status: status,
                            examinationExternal: {
                                examTime: "2018-07-02 10:00:00",
                                examPlace: "计算机学院",
                                teacherNumber: 10086,
                                institute: 1
                            }
                        }),
                        success: function (data) {
                            data = JSON.parse(data);
                            console.log(data)
                        }
                    });
                } else {
                    //不通过只需提交审批状态
                    $.ajax({
                        type: "POST",
                        url: "/administrator/approvalExamination",
                        contentType: 'application/json',
                        data: JSON.stringify({
                            //试卷id号及审批状态信息
                            eiid: 5,
                            taskId: 14,
                            status: status,
                        }),
                        success: function (data) {
                            data = JSON.parse(data);
                            console.log(data)
                        }
                    });
                }
            });

            //查询待审批信息
            $("#queryNeedApprovalExamination").on("click", function () {
                $.ajax({
                    type: "GET",
                    url: "/administrator/queryNeedApprovalExamination",
                    success: function (data) {
                        data = JSON.parse(data);
                        console.log(data)
                    }
                });
            });

            //测试触发事件
            $("#test").on("click", function () {
                $.ajax({
                    type: "GET",
                    url: "/administrator/test",
                    success: function (data) {
                        data = JSON.parse(data);
                        console.log(data)
                    }
                });
            });
        });
    </script>
</head>
<body>
<header></header>
管理员
<br>
<button id="addTeacher">创建教师账号信息</button>
<br>
<button id="deleteTeacher">删除教师账号信息</button>
<br>
<button id="updateTeacherLoginer">更新教师登陆信息</button>
<button id="updateTeacherInfo">更新教师个人信息</button>
<button id="updateAdministratorSelfLoginer">更新管理员登陆信息</button>
<button id="updateAdministratorSelfInfo">更新管理员个人信息</button>
<br>
<button id="queryTeacherLoginer">查询教师登陆信息</button>
<button id="queryTeacherInfo">查询教师个人信息</button>
<button id="queryAdministratorSelfLoginer">查询管理员登陆信息</button>
<button id="queryAdministratorSelfInfo">查询管理员个人信息</button>
<br>
<button id="approvalExamination">审批</button>
<button id="queryNeedApprovalExamination">待审批</button>
<br>
<button id="test">测试触发事件</button>
<footer></footer>
</body>
</html>