<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>在线考试系统</title>

    <link rel="stylesheet" href="/static/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/plugins/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/ionicons.min.css">
    <link rel="stylesheet" href="/static/plugins/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="/static/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/static/dist/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="/static/plugins/toastr/toastr.css"/>
    <link rel="stylesheet" href="/static/plugins/bootstrap3-editable/css/bootstrap-editable.css"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    <script src="/static/plugins/jquery/jquery-3.3.1.min.js"></script>
    <script src="/static/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/plugins/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/static/dist/js/adminlte.min.js"></script>
    <script src="/static/dist/js/demo.js"></script>
    <script src="/static/dist/js/app.js"></script>
    <script src="/static/plugins/toastr/toastr.min.js"></script>
    <script src="/static/script/load_header.js"></script>
    <script src="/static/script/load_footer.js"></script>
    <script src="/static/script/superAdministrator/load_superAdministrator_menu.js"></script>
    <script src="/static/script/superAdministrator/superAdministratorAuthority.js"></script>
    <script src="/static/script/toastrSet.js"></script>
    <script src="/static/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <script src="/static/plugins/fastclick/fastclick.js"></script>
    <script src="/static/plugins/bootstrap3-editable/js/bootstrap-editable.js"></script>
    <script src="/static/script/bootstrapDialogPackage.js"></script>
    <script>
        window.onload = function () {
            $('#secondLi').addClass("active");
        }
    </script>
    <style>
        .content-wrapper {
            background-color: white;
        }
    </style>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <header></header>
    <aside></aside>
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                信息管理
            </h1>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-md-3">
                    <div class="box box-primary">
                        <div class="box-body box-profile">
                            <h3 class="profile-username text-center">登陆信息</h3>
                            <ul class="list-group list-group-unbordered">
                                <li class="list-group-item">
                                    <b>用户名</b> <a class="pull-right" id="editable_username">$superAdministratorLoginer.username</a>
                                </li>
                                <li class="list-group-item">
                                    <b>原密码</b> <a class="pull-right" id="editable_old_password"> </a>
                                </li>
                                <li class="list-group-item">
                                    <b>新密码</b> <a class="pull-right" id="editable_new_password"> </a>
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-block update_administrator_password"><b>修改密码</b></button>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#info" data-toggle="tab">个人信息</a></li>
                            <li><a href="#settings" data-toggle="tab">暂无</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="active tab-pane" id="info">
                                <div class="box">
                                    <div class="box-body">
                                        <table id="administratorTable" class="table table-bordered table-striped">
                                            <tr>
                                                <th>姓名</th>
                                                <td id="editable_name">$superAdministratorLoginer.name</td>
                                            </tr>
                                            <tr>
                                                <th>电话</th>
                                                <td id="editable_phone">$superAdministratorLoginer.phone</td>
                                            </tr>
                                            <tr>
                                                <th>操作</th>
                                                <td>
                                                    <button type="button" class="btn btn-warning update_superAdministrator_info">
                                                        更新信息
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="settings">未完成</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer></footer>
</div>
</body>
</html>